{{#has_fb_sdk}}
<!-- Facebook Plugin Widget -->
<div class="fb-page" data-href="https://www.facebook.com/{{get_fb_page_name}}/messages" data-tabs="messages" data-width="400" data-height="700" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/{{get_fb_page_name}}/messages" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/{{get_fb_page_name}}/messages">{{get_fb_page_title}}</a></blockquote></div>
<!-- End Facebook Plugin Widget -->
{{/has_fb_sdk}}
